name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-pc-windows-gnu
            runner: ubuntu-24.04
          - target: x86_64-unknown-linux-musl
            runner: ubuntu-24.04
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-24.04
          - target: x86_64-apple-darwin
            runner: macos-14
    runs-on: ${{ matrix.runner }}
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
    - name: Setup cross library
      run: rustup target add "$TARGET"
      env:
        TARGET: ${{ matrix.target }}
    - name: Install musl
      run: sudo apt install musl-dev
      if: ${{ matrix.target == 'x86_64-unknown-linux-musl' }}
    - name: Install mingw64
      run: sudo apt install gcc-mingw-w64-x86-64
      if: ${{ matrix.target == 'x86_64-pc-windows-gnu' }}
    - name: Build
      run: cargo build --verbose --target "$TARGET"
      env:
        TARGET: ${{ matrix.target }}
    - name: Run tests
      run: cargo test --verbose
      if: ${{ matrix.target == 'x86_64-unknown-linux-gnu' }}
